$pageBgColor: #201f25;
$pageTextColor: #efefef;
$pageTextColor2: #999;
$sectionBgColor: transparentize(#fff, 0.9);
$dividerColor: transparentize(#fff, 0.75);
$sliderHandleSize: 20px;
$sliderHandleBorder: 2px;

:root {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

body {
  background-color: $pageBgColor;
  color: $pageTextColor;
}

////////////////////////////////////////
// Divider Title
////////////////////////////////////////
.ant-divider-horizontal.ant-divider-with-text {
  color: $pageTextColor;
  font-size: 20px;
  border-top-color: $dividerColor;
}

.ant-divider-inner-text {
  padding: 0 0.75em;
}

////////////////////////////////////////
// Table
////////////////////////////////////////
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 8px;
}

////////////////////////////////////////
// Slider
////////////////////////////////////////
.ant-slider-mark-text {
  color: $pageTextColor2;
}
.ant-slider:hover .ant-slider-rail {
  background-color: $dividerColor;
}

.ant-slider-rail {
  background-color: $dividerColor;
}
.ant-slider-dot {
  background-color: black;
  border: 2px solid $pageTextColor2;
}
.ant-slider-handle {
  background-color: $pageTextColor;
  border: solid $sliderHandleBorder $pageTextColor2;
  height: $sliderHandleSize;
  width: $sliderHandleSize;
  margin-top: ($sliderHandleSize / 2 - $sliderHandleBorder) * -1;

  &:focus {
    border-color: $pageTextColor2;
  }

  &.ant-tooltip-open {
    border-color: $pageTextColor2;
  }
}
