$sliderHandleSize: 20px;
$sliderHandleBorder: 2px;

:root {
  margin: 0;
  padding: 0;
}

////////////////////////////////////////
// Icons
////////////////////////////////////////
.ant-btn > .anticon {
  line-height: 0;
}

////////////////////////////////////////
// Table
////////////////////////////////////////
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 8px;
}

////////////////////////////////////////
// Slider
////////////////////////////////////////
.ant-slider-handle {
  height: $sliderHandleSize;
  width: $sliderHandleSize;
  margin-top: ($sliderHandleSize / 2 - $sliderHandleBorder) * -1;
}
