$sliderHandleSize: 20px;
$sliderHandleBorder: 2px;

:root {
  margin: 0;
  padding: 0;
}

////////////////////////////////////////
// Icons
////////////////////////////////////////
.ant-btn > .anticon {
  line-height: 0;
}

////////////////////////////////////////
// Table
////////////////////////////////////////
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 8px;
}

////////////////////////////////////////
// Slider
////////////////////////////////////////
.ant-slider-handle {
  height: $sliderHandleSize;
  width: $sliderHandleSize;
  margin-top: ($sliderHandleSize / 2 - $sliderHandleBorder) * -1;
}

////////////////////////////////////////
// Footer
////////////////////////////////////////

.totals {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.totals-value,
.totals-split {
  flex: 1 0 50%;
  text-align: center;
}
.amount {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.amount-label {
  .label {
    color: #999;
  }
}

.amount-value {
  position: relative;
  display: inline-block;
  .prefix {
    position: absolute;
    color: #666;
    left: -0.75em;
  }
  .value {
    font-size: 24px;
    color: #333;
    line-height: 1.1;
  }
}
